<section id="configurations">
<h2>Configurações</h2>
<%= link_to 'Configurações de preço por peso', weight_configurations_path %>
<h3>Configurações de prazo</h3>
<h3>Configurações de preço por distância percorrida</h3>
</section>