<section class='page-layout'>
<% if(@shipping_type.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @shipping_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<h2>Editar modalidade de transporte</h2>
<%= render 'form' %><br>
<%= link_to 'Voltar', shipping_type_path %>
<section class='page-layout'>