<section class='page-layout'>
  <% if(@shipping_type.errors.any?) %>
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @shipping_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <h2>Nova modalidade de transporte</h2>
  <div class='page-title'>
    <%= link_to 'Voltar', shipping_types_path, class: 'button' %>
  </div>
  <%= render 'form' %>
</section>
