<section class='page-layout'>
<h2>Ordem de serviço atrasada.</h2>
<%= form_tag(work_order_late_cause_path(@work_order.id), method: :post) do %>
  <div>
    <%= label_tag :delay_cause, 'Justificativa do atraso:' %>
    <%= text_area_tag :delay_cause %>
  </div>
    <br><%= submit_tag 'Salvar' %>
  </div>
<% end %>
</section>