<section class='page-layout'>
<h2>Resultado da busca por: <%= @code %></h2>
<div class="list">
<% @work_orders.each do |w| %>
  <%= render w %>
<% end %>
</div>

<% if @work_orders.empty? %>
  <p>Nenhum resultado encontrado.</p>
<% end %>

</section>