<section id="search_work_order">
<h2>Resultado da busca por: <%= @code %></h2>
<div class='page-title'>
</div>
<% @work_orders.each do |w| %>
  <%= render w %>
<% end %>

<% if @work_orders.empty? %>
  <p>Nenhum resultado encontrado.</p>
<% end %>

</section>