<section class='page-layout'>
<% if(@vehicle.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<h2>Editar veículo</h2>
<%= render 'form' %><br>
<%= link_to 'Voltar', vehicle_path %>
<section class='page-layout'>