* {
    font-family: 'inter', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body  {
    color: #5A5A5A;
    background-color: #ececec;
}

/* ====== header ====== */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009DFF;
    color: white;
    height: 80px;
    padding: 0 40px 0 40px;
}

header .first-line form {
    display: inline;
}

header .search-bar {
    width: 420px;
    height: 46px;
    border-radius: 23px;
    border-style: none;
    padding-left: 20px;
}

header button {
    width: 110px;
    height: 46px;
    border-radius: 23px;
    color:#009DFF;
    background-color: white;
    border-style: none;
    font-weight: bold;
    padding: 0;
}

header input[type=submit] {
    color: #009DFF;
    background-color: white;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(225, 225, 225);
    padding: 0 40px 0 40px;
}

nav a {
    color: #5A5A5A;
}

nav .selected {
    font-weight: bold;
    color:#009DFF;
}

nav .menu-links {
    display: flex;
    gap: 40px;
}

input {
    height: 46px;
    border-radius: 23px;
    border-style: none;
    padding-left: 20px;
}

input[type=submit] {
    background-color: #009DFF;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 0;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #1d88cb;
}

.button {
    font-weight: bold;
    padding: 15px;
    border-radius: 23px;
    color: white;
    background-color: #009DFF;
    padding-left:30px;
    padding-right: 30px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #1d88cb;
}

nav a:hover {
    color:  #009DFF;
}

.alert {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* ====== form ====== */

.form {
    width: 40%;
}

.form .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form input {
    width: 200px;
}

/* =======layout====== */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    border-radius: 23px;
    background-color: rgb(225, 225, 225);
    /* box-shadow: 0px 0px 26px 13px rgba(0,0,0,0.25); */
    padding: 100px;
    margin: 0 auto;
    gap: 50px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

button {
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    border-radius: 23px;
    color: white;
    background-color: #009DFF;
    padding-left:30px;
    padding-right: 30px;
    border-style: none;
}

button:hover {
    color: #1d88cb
}
/* ============= */

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

a {
    color:#009DFF;
}
/* ============= */

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}