/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'roboto', sans-serif;
    text-decoration: none;
} 

.button {
    border: 1px ridge #CCC;
    padding: 5px;
    border-radius: 5px;
}

body {
    padding: 0 60px;
    /* background-color: #26004C; */
}

header h1 {
    display: inline;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
}

header .first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .first-line form {
    display: inline;
}

header .search-bar {
    width: 270px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .selected {
    font-weight: bold;
    }

nav .menu-links {
    display: flex;
    gap: 40px;
}

h2 {
    margin-top: 60px;
    text-align: center;
}

.alert {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* ====== form ====== */

.form {
    width: 40%;
}

.form .input-wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form input {
    width: 200px;
}

/* ================== */

#work_orders .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#work_orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new_work_order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new_work_order .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

#pending_work_orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pending_work_orders .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

#show_work_order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#show_work_order .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

#search_work_order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searcg_work_order .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

#shipping_types {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shipping_types .page-title{
    margin-bottom: 60px;
}

#show_shipping_type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#show_shipping_type .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

#new_shipping_type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new_shipping_type .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

#vehicles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vehicles .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#vehicles .page-title form {
    display: inline;
}

#show_vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#show_vehicle .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

#new_vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new_vehicle .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

#search_vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_vehicle .page-title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

#vehicles .search-bar {
    width: 150px;
}

#configurations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#configurations .page-title{
    margin-bottom: 60px;
}

#weight_configurations {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#delivery_time_configurations {
    display: flex;
    flex-direction: column;
    align-items: center;   
}


#price_per_distance_configurations {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#new_delivery_time_configuration {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#new_price_per_distance_configuration {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.session {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
