<h2>Configurações de preço por distância percorrida</h2>
<%= link_to 'Adicionar nova configuração', new_price_per_distance_configuration_path %>

<% if @price_per_distance_configurations.empty? %>
  <p> Não existem configurações cadastradas. </p>
<% end %>