<% if(@price_per_distance_configuration.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @price_per_distance_configuration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<h2>Nova configuração de preço por distância</h2>
<%= render 'form' %><br>
<%= link_to 'Voltar', price_per_distance_configurations_path %>